@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #E50914;
}

/* -========== Navbar ==========- */

.fixed-menu{
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    z-index: 999;
    padding: 0 20px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
}

.logo img{
    height: 35px;
    width: 50px;
}

a{
    color: #FFF;
    transition: 0.5s ease;
}

a:hover{
    color: #000;
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    margin-left: 32px;
}

/* -========== Mobile Menu ==========- */

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 5px;
    background: #FFF;
}

@media(max-width: 1400px){
    body{
        overflow-x: hidden;
    }
    .index{
        padding-top: 0px;
        padding-bottom: 120px;
        flex-direction: column-reverse;
    }
    .nav-list{
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 93vh;
        position: absolute;
        background: #323232;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease;
        justify-content: space-around;
    }
    .nav-list li{
        opacity: 1;
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0%);
}

/* -========== Index ==========- */

.index{
    display: flex;
    padding: 70px 0px 70px;
    margin: 0 32px;
    align-items: center;
    justify-content: center;
}

.index img {
    display: block;
    height: 735px;
    width: 735px;
    margin: 32px;
}

.container-index{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.container-index h1{
    display: block;
    color: #FFF;
    font-size: 5rem;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: -0.03em;
}

.container-index p{
    color: #FFF;
    text-align: justify;
    margin: 32px;
    padding: 32px;
    line-height: 175%;
    font-size: 1.125rem;
    letter-spacing: -0.03em;
}

.button{
    color: #000;
    display: flex;
    height: 80px;
    width: 350px;
    border-radius: 80px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: -0.03em;
    /*margin: 32px;*/
}

.roda-pe{
    color: #FFF;
    font-size: 0.7rem;
    text-align: center;
    margin: 5px;
}


/* -========== User Mesas ==========- */

.user-mesas{
    height: 100vh;
    width: 100%;
    padding-top: 180px;
}

.user-mesas h1{
    color: #FFF;
    font-size: 3.5rem;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    letter-spacing: -0.03em;
}

.container-mesas form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-name{
    height: 60px;
    width: 500px;
    margin: 60px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.user-number{
    height: 60px;
    width: 500px;
    margin: 60px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.user-button{
    color: #000;
    display: flex;
    height: 80px;
    width: 350px;
    border-radius: 40px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: -0.03em;
    margin: 60px;
}

/* -========== User Index ==========- */

.user-index{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    height: 120px;
    width: 120px;
}

.card{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 32px;
    margin-left: 32px;
    max-width: 480px;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.card:first-child{
    margin-left: 0;
}

@media(max-width: 1400px){
    .user-index{
        margin-top: 90px;
        flex-direction: column;
    }

    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

/* -========== User Garçom ==========- */

.user-garcom{
    height: 100vh;
    width: 100%;
    padding-top: 120px;
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: center;

    flex-direction: column;
    justify-content: center;
}
.user-garcom h1{
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 32px;
    background-color: #000;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.user-garcom p{
    font-size: 2rem;
    margin-bottom: 32px;
}

.user-garcom img{
    height: 350px;
    width: 350px;
}

/* -========== User Garçom ==========- */

.user-status{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.user-status h1{
    width: 100%;
    color: #FFF;
    letter-spacing: -0.03em;
    background-color: #000;
    text-transform: uppercase;
}






























/* -========== Colaborador Index ==========- */

.colaborador-index{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1400px){
    .colaborador-index{
        margin-top: 90px;
        flex-direction: column;
    }

    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

/* -========== Colaborador Login ==========- */

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.login-container h1{
    font-size: 2rem;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-input{
    height: 48px;
    margin-top: 32px;
    min-width: 25rem;
    padding-left: 8px;
    box-sizing: border-box;
    position: relative;
}

.login-input::placeholder{
    color: rgb(0, 0, 0, 0.5);
}

.login-button{
    height: 48px;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
    border: unset;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #1877F2;
    font-weight: 600;
    font-size: larger;  
    border-radius: 5px;
}

.login-reset{
    color: #1877F2;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
