@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, #B31317 0%, #EA1D22 50%, #B31317 100%);
}

/* -========== Navbar ==========- */

.fixed-menu{
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    z-index: 999;
    padding: 0 20px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #B31317 0%, #EA1D22 50%, #B31317 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.logo img{
    height: 35px;
    width: 50px;
}

a{
    color: #FFF;
    transition: 0.5s ease;
}

a:hover, a:focus{
    transform: scale(1.1);
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    margin-left: 32px;
}

/* -========== Mobile Menu ==========- */

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 5px;
    background: #FFF;
}

@media(max-width: 1400px){
    body{
        overflow-x: hidden;
    }
    .index{
        margin-top: 200px;
        flex-direction: column-reverse;
    }

    .button{
        margin-bottom: 32px;
    }

    .nav-list{
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 93vh;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease;
        justify-content: space-around;
        background: linear-gradient(0deg, #B31317 0%, #EA1D22 50%, #B31317 100%);
    }
    .nav-list li{
        opacity: 1;
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0%);
}

/* -========== Index ==========- */

.index{
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 120px;
    align-items: center;
    justify-content: center;
    animation: go-back 1s ease;
}

.index img {
    display: block;
    height: 735px;
    width: 735px;
    margin: 32px;
    animation: go-back 1.5s ease;
}

.container-index{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.container-index h1{
    display: block;
    color: #FFF;
    font-size: 5rem;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: -0.03em;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.container-index p{
    color: #FFF;
    text-align: justify;
    margin: 32px;
    padding: 32px;
    line-height: 175%;
    font-size: 1.125rem;
    letter-spacing: -0.03em;
    text-align: center;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.button{
    color: #121E1E;
    display: flex;
    height: 80px;
    width: 350px;
    border-radius: 80px;
    background-color: #FFE145;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.button:hover{
    color: #121E1E;
    background-color: #F4AE01;
    transform: scale(1.1);
}

/* -========== User Mesas ==========- */

.user-mesas{
    height: 100vh;
    width: 100%;
    padding-top: 180px;
}

.user-mesas h1{
    color: #FFF;
    font-size: 3.5rem;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: #121E1E;
}

.container-mesas form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: go-back 1s ease;
}

.user-name{
    height: 60px;
    width: 500px;
    margin: 60px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.user-number{
    height: 60px;
    width: 500px;
    margin: 60px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.user-button{
    color: #121E1E;
    display: flex;
    height: 80px;
    width: 350px;
    border-radius: 80px;
    background-color: #FFE145;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.user-button:hover{
    color: #121E1E;
    background-color: #F4AE01;
    transform: scale(1.1);
}

/* -========== User Index ==========- */

.user-index{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: go-back 1s ease;
}

.card img{
    height: 120px;
    width: 120px;  
}

.card{
    color: #121E1E;
    display: flex;
    width: 480px;
    text-align: center;
    font-style: italic;
    align-items: center;
    border-radius: 20px;
    padding: 32px;
    margin-left: 32px;
    flex-direction: column;
    background-color: #FFF; /* Definir uma cor legal para os cards*/
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.card:first-child{
    margin-left: 0;
}

@media(max-width: 1400px){
    .user-index{
        margin-top: 90px;
        flex-direction: column;
    }

    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

/* -========== User Garçom ==========- */

.user-garcom{
    height: 100vh;
    width: 100%;
    padding-top: 120px;
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.user-garcom h1{
    width: 100%;
    font-size: 2.75rem;
    margin-bottom: 32px;
    background-color: #121E1E;
    text-transform: uppercase;
}

.user-garcom p{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 32px;
    animation: go-back 1s ease;
}

.user-garcom img{
    height: 350px;
    width: 350px;
    margin-bottom: 20px;
    animation: go-back-img 1s infinite alternate;
}

/* -========== User Status ==========- */

.user-status{
    width: 100%;
    display: flex;
    padding-top: 120px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user-status h1{
    width: 100%;
    color: #FFF;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #121E1E;
}

.container-user-status{
    width: 800px;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    animation: go-back 1s ease;
}

.status-pedido h1{
    font-size: 2.5rem;
    margin-bottom: 32px;
    border-radius: 15px;
}

.pedido h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    border-top: 1px solid #121E1E;
    border-bottom: 1px solid #121E1E;
}

.pedido h3{
    margin-bottom: 2px;
}

@media(max-width: 850px){
    .container-user-status{
        width: 90%;
    }

}

/* -========== User Cardápio ==========- */

.user-cardapio{
    width: 1400px;
    padding: 32px;
    margin: 120px auto;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.productcont{
    display: grid;
    grid-row-gap: 1em;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.product img{
    height: 150px;
    width: 150px;
}

.product{
    padding: 32px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #323232;
}

.cart-container {
    padding: 32px;
    margin-top: 1em;
    border-radius: 5px;
    border: 1px solid #323232;
}

/*button, input[type="submit"]{ 
    color:#121E1E;
    padding: 10px;
    font-size: 1rem;
    border-radius: 80px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    background-color: #FFE145;
    transition: 0.5s ease;
}

button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    cursor: pointer;
    color: #121E1E;
    letter-spacing: 2px;
    background-color: #F4AE01;
}*/

table{
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table td, table th {
    text-align: left;
    padding: 0.25em 1em;
    border-bottom: 1px solid #E0E4CC;
}

#carttotals {
    margin-right: 0;
    margin-left: auto;
}

.cart-buttons {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

#emptycart {
    margin-right: 1rem;
}

table td:nth-last-child(1) {
    text-align: right;
}

.message {
    color:#000;
    font-size: 1rem;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px;
    border-color:#323232;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.pizzas-salgadas h1{
    margin-bottom: 32px;
    text-align: center;
    border: 1px solid #323232;
}

.pizzas-doces h1{
    margin: 32px 0px;
    text-align: center;
    border: 1px solid #323232;
}


/* -========== Colaborador Index ==========- */

.colaborador-index{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1400px){
    .colaborador-index{
        margin-top: 90px;
        flex-direction: column;
    }

    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

/* -========== Colaborador Login ==========- */

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    animation: go-back 1s ease;
}

.login-container img{
    height: 50px;
    margin-bottom: 10px;
}

.login-container h1{
    font-size: 1.5rem;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-input{
    height: 48px;
    width: 25rem;
    margin-top: 32px;
    padding-left: 8px;
    position: relative;
    box-sizing: border-box;
}

.login-input::placeholder{
    color: #121E1E;
    opacity: 0.75;
}

.login-button{
    height: 48px;
    width: 100%;
    margin-top: 32px;
    color: #121E1E;
    border-radius: 40px;
    background-color: #FFE145;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.login-button:hover{
    color: #121E1E;
    background-color: #F4AE01;
}

.login-reset{
    color: #121E1E;
    margin-top: 32px;
}

@keyframes go-back{
    from {
      opacity: 0;
      transform: scale(0.5);

    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes go-back-img{
    from {
      transform: scale(0.75);

    }
    to {
      transform: scale(1);
    }
}