@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #323232;
}

.user-cardapio{
    

}


.pizza-salgada{
    text-align: center;
    background-color: #FFF;
}

.cont-produtos{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
}

.produto{
    /*max-wi: xxxpx*/
    padding: 32px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}
